spawn-at-startup "xwayland-satellite"
spawn-sh-at-startup "thunar --daemon"
spawn-sh-at-startup "rtkitctl --start"
spawn-sh-at-startup "brightnessctl set 100%"
spawn-at-startup "noctalia"
spawn-sh-at-startup "/usr/libexec/xdg-desktop-portal -r &"
spawn-sh-at-startup "flatpak run dev.vencord.Vesktop"
spawn-sh-at-startup "flatpak run org.telegram.desktop"
spawn-sh-at-startup "flatpak run app.zen_browser.zen"
spawn-at-startup "sh" "-c" "echo 'Xcursor.theme: Breeze_Light' | xrdb -merge && echo 'Xcursor.size: 26' | xrdb -merge && xsetroot -cursor_name left_ptr"
